# Scraping Numbers from HTML using BeautifulSoup 
## Aashita Kesarwani
The following code is part of an assignment from the online course [Using Python to Access Web Data](https://www.coursera.org/learn/python-network-data).

The program uses `urllib.request` to read the HTML and `BeautifulSoup` to parse the data, extracting numbers and compute the sum of the numbers in the HTML file.

In [1]:
import urllib.request
html = urllib.request.urlopen(" http://python-data.dr-chuck.net/comments_282980.html")
from bs4 import BeautifulSoup
soup = BeautifulSoup(html, "lxml")
print(soup.prettify())

<html>
 <head>
  <title>
   Welcome to the comments assignment from www.pythonlearn.com
  </title>
 </head>
 <body>
  <h1>
   This file contains the actual data for your assignment - good luck!
  </h1>
  <table border="2">
   <tr>
    <td>
     Name
    </td>
    <td>
     Comments
    </td>
   </tr>
   <tr>
    <td>
     Rihana
    </td>
    <td>
     <span class="comments">
      100
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Keigan
    </td>
    <td>
     <span class="comments">
      99
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Kenadie
    </td>
    <td>
     <span class="comments">
      94
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Rossi
    </td>
    <td>
     <span class="comments">
      88
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Callia
    </td>
    <td>
     <span class="comments">
      83
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Kaysie
    </td>
    <td>
     <span class="comments">
      82
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Basile
    </td>
    <td>
     <span class="comments">
      78
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Parya
    </td>
    <td>
     <span class="comments">
      73
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Siubhan
    </td>
    <td>
     <span class="comments">
      72
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Briaddon
    </td>
    <td>
     <span class="comments">
      72
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Chintu
    </td>
    <td>
     <span class="comments">
      71
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Ayyub
    </td>
    <td>
     <span class="comments">
      71
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Aiyanna
    </td>
    <td>
     <span class="comments">
      70
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Yasmeen
    </td>
    <td>
     <span class="comments">
      68
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Salsabeel
    </td>
    <td>
     <span class="comments">
      61
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Selena
    </td>
    <td>
     <span class="comments">
      60
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Mahum
    </td>
    <td>
     <span class="comments">
      57
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Lilya
    </td>
    <td>
     <span class="comments">
      57
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Kerrigan
    </td>
    <td>
     <span class="comments">
      55
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Ioannis
    </td>
    <td>
     <span class="comments">
      54
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Sasha
    </td>
    <td>
     <span class="comments">
      51
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Zarah
    </td>
    <td>
     <span class="comments">
      50
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Makaila
    </td>
    <td>
     <span class="comments">
      49
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Murrun
    </td>
    <td>
     <span class="comments">
      48
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Sascha
    </td>
    <td>
     <span class="comments">
      47
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Dinaras
    </td>
    <td>
     <span class="comments">
      44
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Daymian
    </td>
    <td>
     <span class="comments">
      38
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Ayub
    </td>
    <td>
     <span class="comments">
      38
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Shreyas
    </td>
    <td>
     <span class="comments">
      38
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Wang
    </td>
    <td>
     <span class="comments">
      30
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Conan
    </td>
    <td>
     <span class="comments">
      30
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Abdul
    </td>
    <td>
     <span class="comments">
      26
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Pascoe
    </td>
    <td>
     <span class="comments">
      25
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Kiran
    </td>
    <td>
     <span class="comments">
      24
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Asal
    </td>
    <td>
     <span class="comments">
      21
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Erynn
    </td>
    <td>
     <span class="comments">
      20
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Rhiannon
    </td>
    <td>
     <span class="comments">
      18
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Vasiliki
    </td>
    <td>
     <span class="comments">
      16
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Abdallah
    </td>
    <td>
     <span class="comments">
      16
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Nuwaira
    </td>
    <td>
     <span class="comments">
      16
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Elise
    </td>
    <td>
     <span class="comments">
      12
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Princess
    </td>
    <td>
     <span class="comments">
      11
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Amalia
    </td>
    <td>
     <span class="comments">
      11
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Laranya
    </td>
    <td>
     <span class="comments">
      10
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Jaslyn
    </td>
    <td>
     <span class="comments">
      9
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Bhaaldeen
    </td>
    <td>
     <span class="comments">
      6
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Natividad
    </td>
    <td>
     <span class="comments">
      6
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Brydon
    </td>
    <td>
     <span class="comments">
      2
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Ruth
    </td>
    <td>
     <span class="comments">
      2
     </span>
    </td>
   </tr>
   <tr>
    <td>
     Marina
    </td>
    <td>
     <span class="comments">
      1
     </span>
    </td>
   </tr>
  </table>
 </body>
</html>

In [2]:
import urllib.request
html = urllib.request.urlopen(" http://python-data.dr-chuck.net/comments_282980.html")
from bs4 import BeautifulSoup
soup = BeautifulSoup(html, "lxml")
tags = soup('span')
s = 0
for tag in tags:
    s += int(tag.contents[0])
print("Sum: ", s)

Sum:  2180